:root {
  background: #ccc;
  color: #efefef;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

a,
a:active,
a:hover,
a:visited {
  color: #efefef;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.page {
  width: 600px;
  margin: 4% auto;
  padding: 2em 3em 3em;
  background-color: #333;
}
